.root {
  position: relative;
  margin: 56px 33px 0 44px;
  height: 90px;
  background-image: url(/building-shadow.svg);
  background-repeat: repeat-x;
  background-position: bottom 0 left 0;
  border-bottom: 2px solid #1a1a1a;
}
.walking-person {
  position: absolute;
  left: 0;
  bottom: 0;
}
